:root {
    --d-color: rgba(0, 0, 0, 1);
    --w-color: #fff;
    --g-color: rgb(70, 69, 69);
    --acc-color: #09134e;
    --pop-color: #64c1b0;
}

html {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.secContainer {
    background-color: var(--g-color);
    margin-block: 20px;
    padding-block: .5em;
    margin-inline: 1em;
    padding-inline: 1em;
    color: var(--w-color);
    border-radius: 1em 5px;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.secContainer:nth-child(even) {
    border-radius: 5px 1em;
    background-color: var(--w-color);
    color: var(--acc-color);
    border: .5px solid var(--acc-color);
}

#banner {
    background: url("https://cdn.shopify.com/s/files/1/0651/7502/7928/files/clark-street-mercantile-qnKhZJPK.jpg?v=1658852727&width=1500");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#banner::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--d-color);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: 0;
}

#opacity {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 60px;
    color: var(--w-color);
    text-align: center;
    margin-bottom: 2em;

}

#shopDesc {
    color: var(--w-color);
    font-size: 30px;
    margin-left: 1em;
}

.secText {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 600;

}

.secImg {
    background-color: var(--w-color);
    width: 100%;
    height: 80%;
    margin: auto;

}

.secText:nth-child(even) {
    background-color: var(--w-color);
    color: var(--acc-color);
    border: .5px solid var(--acc-color);
}

.secImg,
.imgSec {
    border-radius: 1em;
}

.imgSec {
    width: 100%;
    height: 100%;
}

#text0 {
    height: 50px;
}

#text2,
#text1 {
    font-size: 20px;
}

#text4 {
    font-size: 18px;
}

#cntr0 {
    height: 150vh;
}

#img0 {
    background: url("img/CM/collections\ setup.png");
    height: 40%;
    background-repeat: no-repeat;
}

#img0-2 {
    background: url("img/CM/products.png");
    height: 40%;
    background-repeat: no-repeat;
}

#img3 {
    background: url("img/CM/collections.png");
    background-size: cover;
}

#cntr1 {
    height: 60vh;
}

#img1 {
    background: url("img/CM/description left.png");
    height: 60%;
    width: 80%;
    background-repeat: no-repeat;
}

#cntr2 {
    flex-direction: row;
    height: fit-content;
    padding-block: 1.5em;
}

#img2 {
    background: url("img/CM/new section.png");
    /* background-size: cover; */
    height: 107px;
    width: 300px;
    margin-inline: 20px;
}

#cntr4 {
    height: 55vh;
    min-height: 50vh;
}

#img4 {
    background: url("img/CM/code.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
}